/*************************
* STRUCTURE
**************************/

html, body {margin: 0; padding: 0; height: 100%; position: relative;}
body {
	background-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.4;
	color: #fcfcfc;
	overflow: hidden;
}
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	padding: 0;
	border-collapse: expression('separate', cellSpacing = '0px');
}

a {
    color: #01B8AA;
    font-weight: bold;
    transition: color 0.1s ease;
	text-decoration: none;
}

a:hover {
    color: #015c55;
}
::-webkit-scrollbar {
	background: #2A2624;
	width: 14px;
}
::-webkit-scrollbar-track {
    border-style: outset;
    border-left-color: #9a8469;
    border-right-color: #9a8469;
    background: #2A2624;
}

::-webkit-scrollbar-thumb {
    border-style: outset;
    background: #dad8b6;
    border-left-color: #9a8469;
    border-bottom-color: #9a8469;
}

:focus-visible {
	outline: 1px solid black;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
  }

/* TITLEBAR START */
#titlebar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #363636;
	border-top: 3px solid #9a8469;
	border-left: 3px solid #9a8469;
	border-right: 3px solid #9a8469;
	border-bottom: 1px solid #161616;
	border-style: solid;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#titlebar h1 {
	color: #dad8b6;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
#titlebar a {
	display: block;
	position: absolute;
	text-decoration: none;
	color: #C5C5C5;
	width: 35px;
	height: 26px;
	line-height: 28px;
	font-size: 16px;
  	text-align: center;


}
/*
#titlebar .min {
	top: -1px;
	right: 26px;
	font-size: 15px;
	color: #C5C5C5;
}
*/
#titlebar .close {
	color: #dad8b6;
	top: -2px;
	right: 6px;
	font-size: 15px;
}
#titlebar a:hover {
	color: #d42626;
}
/* TITLEBAR END */

/* CONTENT AREA START */
#cornerWrap {
	position: absolute;
	top: 28px; /* #titlebar height (plus titlebar vertical borders) */
	right: 0;
	bottom: 0;
	left: 0;
}
#cornerWrap .borderSlants {
	position: absolute;
	z-index: 999;
	top: 0;
	width: 27px;
	height: 3px;
	background-repeat: no-repeat;
}
#cornerWrap .corner {
	position: absolute;
	z-index: 999;
	bottom: 0;
}

#cornerWrap .corner.br {
	width: 24px;
	height: 30px;
}
#content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	word-wrap: break-word;
	border-top: 3px solid #9a8469;
	border-left: 3px solid #9a8469;
	border-right: 3px solid #9a8469;
	border-bottom: 3px solid #322716;
	background: #79664f;
	border-style: solid;
	box-shadow: rgba(93, 79, 50, 0.096) 0px -30px 60px -12px inset, rgba(0, 0, 0, 0.205) 0px 18px 36px -18px inset;
}
#content .innerContent { /* also has: .not-nano-content */
	padding: 10px 10px 10px 10px; background-repeat: repeat-x;
}

.contentFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -13px;
}
/* CONTENT AREA END */

/* RESIZE AREAS START */
#resizeArea {
	display: block;
	position: absolute;
	z-index: 999999;
	bottom: 0;
	right: 0;
	width: 24px;
	height: 24px;
	cursor: nwse-resize;
}
.resizeArea {
	position: absolute;
	z-index: 99999;
}
.resizeArea.top {
	top: 0;
	left: 10px;
	right: 10px;
	height: 3px;
	cursor: n-resize;
}
.resizeArea.tr {
	top: 0;
	right: 0;
	height: 10px;
	width: 10px;
	cursor: ne-resize;
}
.resizeArea.right {
	top: 10px;
	right: 0;
	bottom: 10px;
	width: 3px;
	cursor: e-resize;
}
.resizeArea.br {
	bottom: 0;
	right: 0;
	height: 20px;
	width: 20px;
	cursor: se-resize;
}
.resizeArea.bottom {
	bottom: 0;
	left: 10px;
	right: 10px;
	height: 3px;
	cursor: s-resize;
}
.resizeArea.bl {
	bottom: 0;
	left: 0;
	height: 10px;
	width: 10px;
	cursor: sw-resize;
}
.resizeArea.left {
	top: 10px;
	left: 0;
	bottom: 10px;
	width: 3px;
	cursor: w-resize;
}
.resizeArea.tl {
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	cursor: nw-resize;
}
/* RESIZE AREAS END */

/* CUSTOM SCROLLBARS START */
.not-nano > .not-nano-content {
  position      : absolute;
  overflow-y	: auto;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.not-nano > .not-nano-content:focus {
  outline: thin dotted;
}

.not-nano > .not-nano-pane {
  background : #2A2624;
  position   : absolute;
  width      : 14px;
  right      : 0;
  top        : 0;
  bottom     : 0px;
  opacity    : 0.75;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
}
.not-nano > .not-nano-pane > .not-nano-slider {
  background: #dad8b6;
  position              : relative;
  margin                : 0;
  border-style: solid;
  border-left-color: #9a8469;
  border-bottom-color: #9a8469;
  box-shadow: rgba(26, 22, 17, 0.1) 0px 0px 16px;
}


.not-nano:hover > .not-nano-pane, .not-nano-pane.active, .not-nano-pane.flashed {
  opacity    : 1;
}
/* CUSTOM SCROLLBARS END */

/*************************
* STYLESHEET ELEMENTS
**************************/

.well {
	background-color: #322716;
	border-top: 1px solid #322716;
	border-left: 1px solid #322716;
	border-right: 1px solid #9a8469;
	border-bottom: 1px solid #dad8b6;
	padding: 10px;
}

/* Buttons are complicated */

.button {
	border: 0.125em solid transparent;
	border-radius: 0.125em;
	background-color: #01010100;
	box-shadow: 0.0625em 0.0625em 0.0625em #00000000;
	width: 4em;
  }
  .button-inside {
	--background-color: #f05a22;
	--background-color-active: #ee5529;
	--light-shadow-color: #ffb147;
	--dark-shadow-color: #d72d12;
	--text-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	position: relative;
	border-radius: 0.5625em;
	padding: 0.625em 0.75em 0.4375em;
	width: 100%;
	background-color: var(--background-color);
	background-size: 80px 80px;
	box-shadow: inset 0.0625em 0.0625em 0.0625em var(--light-shadow-color),
	  inset -0.0625em -0.0625em 0.0625em var(--dark-shadow-color),
	  0.125em 0.125em 0.25em #0000006b;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: var(--text-color);
	transition-property: transform, background-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
  }
  .button:active .button-inside {
	transform: scale(0.98);
	background-color: var(--background-color-active);
	box-shadow: inset 0 0 0.25em #000,
	  inset 0.0625em 0.0625em 0.0625em transparent,
	  inset -0.0625em -0.0625em 0.0625em transparent,
	  0.125em 0.125em 0.25em transparent;
  }
  .button-inside.dark-gray {
	--background-color: #353535;
	--background-color-active: #313030;
	--light-shadow-color: #a7a7a7;
	--dark-shadow-color: #1c1c1c;
  }
  .button-inside.white {
	--background-color: #cfcbca;
	--background-color-active: #b9b5b3;
	--light-shadow-color: #fafafa;
	--dark-shadow-color: #646464;
	--text-color: #010101;
  }
  .button-inside.light-gray {
	--background-color: #bcbcbc;
	--background-color-active: #b1adad;
	--light-shadow-color: #f7f7f7;
	--dark-shadow-color: #646464;
  }
  .button-inside.gray {
	--background-color: #676767;
	--background-color-active: #575454;
	--light-shadow-color: #b8b7b5;
	--dark-shadow-color: #383838;
  }



/* Button color schemes */

/* Dark
BG: #21272c //Replacement #2A2624
Border: #9a8469 //Replacment #6d6617
Highlight: #58B4DC // Replacement ##6d6617
Text: #fff
*/
.dark.button,
.dark.button .top,
.dark.button .bottom {background-color: #2A2624;}
.dark.button:active,
.dark.button:active .top {border-color: #2A2624;}
.dark.button:active .bottom {border-left-color: #2A2624;}
.dark.button,
.dark.button .top,
.dark.button .bottom {border-color: #6d6617;}

.dark.button:hover .bottom,
.dark.button:active .bottom {border-bottom-color: #363636;}



/*************************
* INDIVIDUAL PAGES
**************************/

/* Traitor tips stuff included here due to the large amount of html files necessary for them */
.traitor-tips {font-family: Verdana, sans-serif;font-size:10pt;line-height:1.3; padding: 10px;}
.traitor-tips h1 {font-size: 200%;padding-bottom: 10px;color:#000}
.traitor-tips p {margin-bottom: 1em; position:relative}
.traitor-tips .small {font-size:80%}
.traitor-tips em {font-size:110%;color:red;font-weight:bold;font-style:normal}
.traitor-tips span.sub {font-size:80%}
.traitor-tips .indent {padding:5px 0 5px 25px;display:block;}
.traitor-tips img {display:block}
.traitor-tips img.right {position:absolute;top:5px;right:20px}
.traitor-tips .center {text-align:center;margin: 0 auto;}
.traitor-tips .image-right {padding-right: 50px;}

#createobj .selector_hs {
    width: 400px;
    overflow: auto;
}

.matcomptext{width: 100%;text-align: center;margin: 0;padding: 0;font-weight:normal;color:#000000;letter-spacing:0pt;word-spacing:1pt;font-size:12px;font-family:arial, helvetica, sans-serif;line-height:1;}

/*#manubody {background:url(images/bluebg.png{{resource("images/bluebg.png")}}) top left no-repeat; background-attachment:fixed; width: 100%; height: 100%; text-align: center; margin:0; padding:15px; padding-right:0px;}*/
#manudiv {border:none 0px; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;}
div.manuborder{background-color: #0b5091; border:solid 3px #0053ED; border-radius: 15px; width:50%; padding: 3px; margin: 0 auto; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:link {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:visited {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:hover {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}
a.manulink:active {border:none 0px; font-family: "Arial", sans-serif; color: white; text-align: center; display: block;}


/*************************
* HELPER CLASSES
**************************/

.traitorTag {
	color: red;
	font-weight: bold;
}

.text-normal {
	font-weight: normal !important;
	font-style: normal !important;
}

.text-red {color: red;}

/* Clearfix */
.cf:before, .cf:after { content: " "; display: table;}
.cf:after {clear: both;}
.cf {zoom: 1;}

.tight {
	padding: 0px;
	margin: 0px;
	border: 0px;
	overflow: hidden;
}

.emoji {font-family: "Segoe UI Emoji" !important;}
