
body { background: #222; color: white; font-family: Tahoma, sans-serif; }
a { color: #88f; }

.l { text-align: left; } .r { text-align: right; } .c { text-align: center; }
.buttonlink { background: #66c; min-width: 1.1em; height: 1.2em; padding: 0.2em 0.2em; margin-bottom: 2px; border-radius: 4px; font-size: 90%; color: white; text-decoration: none; display: inline-block; vertical-align: middle; }

thead {
    background: #6d6617;
    border: groove 2px;
    border-color: #9a8469;
}


table {
	border-collapse: collapse;
	width: 100%;
	}
td, th { padding: 0.2em 0.5em 0em; }

img, a img {
	border: 0;
	}


#info {
	width: 30%;
	padding: 0.5em;
	float: right;
	background: #3b3122;
	border-style: groove;
	border-color: #6d6617;
	margin-top: 0.5em;
}


#products {
	position: absolute;
	width: 66%;
}

.queue, .product {
	position: relative;
	display: inline-block;
	width: 12em;
	padding: 10px 10px;
	margin: 0.5em;
	background: #3b3122;
	border-style: groove;
	border-color: #6d6617;
	}

.queue {
	vertical-align: middle;
	clear: both;
	}
.queue .icon {
	float: left;
	margin: 0.2em;
	}
.product {
	vertical-align: top;
	text-align: center;
	}
.product .time {
	position: absolute;
	bottom: 0.3em;
	right: 0.3em;
	}
.product .mats {
	position: absolute;
	bottom: 0.3em;
	left: 0.3em;
	}
.product .icon {
	display: block;
	height: 64px;
	width: 64px;
	margin: 0.2em auto 0.5em auto;
	-ms-interpolation-mode: nearest-neighbor; /* pixels go cronch */
	}

.product.disabled {
    color: #aaa;
    opacity: 0.65;
}

.required {
	display: none;
	}

.product:hover {
	cursor: pointer;
	opacity: 0.85;
}
.product:hover .required {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	}
.product .delete {
	color: #c44;
	background: #222;
	padding: 0.25em 0.5em;
	border-radius: 10px;
	}
.required div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #333;
	border: 1px solid #888888;
	padding: 0.25em 0.5em;
	margin: 0.25em 0.5em;
	font-size: 80%;
	text-align: left;
	border-radius: 5px;
	}
.mat-missing {
	color: #f66;
}
